{% extends 'index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lernAboutWord.css' %}">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/submit" method="post" class="mb-3">
                <div class="input-group">
                    <input type="text" name="userInput" id="userInput" class="form-control" placeholder="Введите текст">
                </div>
            </form>
            <div class="button-big-group">
                <button id="grammarButton" type="button" class="btn btn-outline-info mb-2" onclick="usageInContext()">Использование в контексте</button>
                <button id="otherButton1" type="button" class="btn btn-outline-warning otherButton mb-2" onclick="toPronounceWord()">Просклонять слово</button>
                <button id="otherButton2" type="button" class="btn btn-outline-success otherButton mb-2" onclick="articleAndPlural()">Артикль и множество</button>
                <button id="otherButton3" type="button" class="btn btn-outline-primary otherButton mb-2" onclick="meaningOfWord()">Смысл слова</button>
                <button id="otherButton4" type="button" class="btn btn-outline-light otherButton mb-2" onclick="howToMemorize()">Как запомнить</button>
                <button id="otherButton5" type="button" class="btn btn-outline-secondary otherButton mb-2" onclick="historyOfWord()">История слова</button>
            </div>
            <div class="load-element" style="display: none;">
                    <div class="spinner-grow text-primary" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-secondary" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-success" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-danger" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-warning" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-info" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-light" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-dark" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                      </div>
            </div>
            <div class="answer-box">
            </div>
        </div>
    </div>
</div>
<script>
    // Передаем CSRF токен JavaScript переменной
    window.csrfToken = '{{ csrf_token }}';
</script>

<script src="{% static 'js/learnAboutWord.js' %}"></script>
{% endblock %}
